<div class="ships-container">
    <section class="carrier">
        
    </section >
    <section class="battleship">

    </section>
    <section class="cruiser">

    </section >
    <section class="submarine">

    </section >
    <section class="destroyer">

    </section>
</div>