<table class="field">
    <tbody>
        <tr>
            <th></th>
            <% let alphabet='abcdefghijklmnopqrstuvwxyz'%>
            <% for(let j = 0; j < 10; j ++) { %>
                <th><%=alphabet[j]%></th>
            <% } %>
        </tr>
        <% for(let i = 1; i <= 10; i ++) { %>
            <tr>
            <th><%=i%></th>
            <% for(let k = 0; k < 10; k++) { %>
                <td class="board" id="<%=alphabet[k]%><%=i%>"></td>
            <% } %>
            </tr>
        <% } %>
    </tbody>
</table>