<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div id="logo" class="container-fluid" style="display:flex">
            <img src = "logo.png" alt="ship" style="width:80px; height:60px">
            &nbsp&nbsp<h1>Battleship</h1>
        </div>

        <form id="returnhome" method=GET action="/home"></form>
        
    </body>
</html>

<script>
    document.getElementById("logo").on("click", function(){
        document.getElemntById("returnhome").submit();
    });

</script>